.Logo {
  background-color: white;
  padding: 8px;
  height: 80%;
  box-sizing: border-box;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .Logo {
    height: 60%;
  }
}

.Logo img {
  height: 100%;
}
